<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permisos de red para ImgBB y Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Permiso para leer imágenes del dispositivo (selector de fotos) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- Fallback para Android < 13 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Stockify"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
